#body {
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-areas: 
    "conteudo"
    "footer";
    grid-template-rows:auto 60px;
    gap: 0;
    color: #fdfdfd;
    padding: 0;
    background: #000015;
}

.conteudo {
    grid-area: conteudo;
}

.primeiraTela {
    display: flex;
    background: url('../img/background.png') no-repeat fixed center;
    background-size: cover;
    align-items: center;
}

.primeiraTela__content {
    height: calc(100vh);
}

.titulo__code{
    font-size: 5rem;
    font-weight: 700;
}

.titulo__week {
    font-size: 3rem;
}

.titulo i {
    font-size: 3rem;
}

@keyframes fa-blink {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.fa-code {
    animation: fa-blink 0.75s linear infinite;
}

.formulario, .titulo {
    width: 50%;
    display: flex;
    align-items: center;
}

.center{
    margin: 0 auto;
}

.formulario .center {
    width: 50%;
}

.formulario .center form {
    display: flex;
    flex-direction: column;
}

.formulario .center form input {
    margin: 1rem 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #051038;
    padding: 1rem 0;
}

.formulario .center form input[type=submit] {
    width: 40%;
    cursor: pointer;
    align-self: flex-end;
    color: white;
    padding: 0.5rem 0;
    border: none;
}

.formulario .center form input::placeholder {
    color: white;
    font-size: 20px;
}

.cards {
    display: flex;
    margin: 4rem;
}

.cards .card{
    background: none;
    width: 30%;
    margin: 0 1%;
    text-align: center;
    background: #000015;
}

.cards .card:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    transform: skew(2deg, 2deg);
}

.cards .card:nth-child(1)::before{
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.cards .card:nth-child(2)::before{
    background: linear-gradient(315deg, #00bcd4, #5d02ff);
}

.cards .card:nth-child(3)::before{
    background: linear-gradient(315deg, #ff0000, #ffc107);
}

.cards i{
    font-size: 10rem;
    margin-bottom: 1rem;
}

.cards__html {
    color: #f0582f;
}

.cards__css {
    color: #007cc4;
}

.cards__js {
    color: #f99c34;
}

.cards p{
    text-align: justify;
    padding: 0 2rem;
    margin-top: 2rem;
}

.footer {
    grid-area: footer;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    padding: 1rem 0;
    background: linear-gradient(90deg, #5d02ff, #007cc4);
}

/* Player */

.video {
    height: 100vh;
}

.video__section {
    height: inherit;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.aula__titulo {
    margin-bottom: 2rem;
    color: white;
}

.player {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
}

.aulas {
    width: 20%;
}

.aulas__lista__item {
    margin: 1rem;
}

.aulas__lista__item a {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #ffc107;
    font-size: 18px;
}

.aulas__lista__item a:hover {
    color: #ffc107;
    text-decoration: none;
    opacity: 0.8;
}